body {
    background: #fff none repeat scroll 0 0;
    color: #120f0b;
    font-size: 100%;
    line-height: 24px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.login-card {
    top: -25%;
}

.focused {
    background-color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.heart-rate {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 49vh;
}

.fade-in {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
    position: absolute;
    width: 120%;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: -120%;
    animation: heartRateOut 2.5s linear infinite;
    ackground: rgba(255, 255, 255, 1);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
    0% {
        width: 100%;
    }
    50% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

@keyframes heartRateOut {
    0% {
        left: -120%;
    }
    30% {
        left: -120%;
    }
    100% {
        left: 0;
    }
}


.ball {
    position: absolute;
    top: -10%;
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: black;
    border-radius: 50%;
    z-index: 1;
    animation: meet-and-move var(--animation-duration) infinite ease-in-out;
}



.ball1 {
    --initial-left: 10%;
    --ball-size: 1.2rem;
    --initial-top: 30%;
    --final-top: 50%;
    --animation-duration: 10s;
}

.ball2 {
    --initial-left: 50%;
    --ball-size: 1.2rem;
    --initial-top: 50%;
    --final-top: 50%;
    --animation-duration: 9s;
}

.ball3 {
    --initial-left: 100%;
    --ball-size: 1.2rem;
    --initial-top: 70%;
    --final-top: 50%;
    --animation-duration: 11s;
}



.ball2 {

}

.ball3 {

}

@keyframes meet-and-move {
    0% {
        background-color: var(--darkBlue);
        left: 0%;
        top: var(--initial-top);
    }
    50% {
        background-color: var(--darkBlue);
        left: 50%;
        top: 50%;
    }
    51% {
        background-color: var(--orange);
    }
    100% {
        background-color: var(--orange);
        left: 90%;
        top: var(--final-top);
    }
}