body {
    background: linear-gradient(-45deg, var(--lightOrange), var(--orange), var(--lightYellow), var(--yellow), var(--white));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.text-white {
    color: var(--white);
}

.fw-light {
    font-weight: 300;
}

.m-0 {
    margin: 0;
}

.btn-group {
    display: flex;
}

.btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--white);
    border-radius: 4px;
    color: var(--white);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--orange);
    color: var(--white);
}

.btn-outline-light {
    background-color: transparent;
    border-color: var(--white);
}

.text-decoration-none {
    text-decoration: none;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-80 {
    opacity: 0.8;
}

.focused {
    background-color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.heart-rate {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 49vh;
}

.fade-in {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
    position: absolute;
    width: 120%;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: -120%;
    animation: heartRateOut 2.5s linear infinite;
    ackground: rgba(255, 255, 255, 1);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
    0% {
        width: 100%;
    }
    50% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

@keyframes heartRateOut {
    0% {
        left: -120%;
    }
    30% {
        left: -120%;
    }
    100% {
        left: 0;
    }
}

/*only display animations on desktop*/
@media (max-width: 767px) {
    /* Hide animations on screens smaller than 768px (mobile devices) */
    .ball, .heart-rate {
        display: none;
    }
}

@media (min-width: 768px) {
    /* Show animations on screens 768px and larger (tablets and desktops) */
    .ball, .heart-rate {
        display: block;
    }
}


.ball {
    position: absolute;
    top: -10%;
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: black;
    border-radius: 50%;
    z-index: 1;
    animation: meet-and-move var(--animation-duration) infinite ease-in-out;
    transition: opacity 0.4s ease-in-out;
}


.ball1 {
    --initial-left: 10%;
    --ball-size: 1.2rem;
    --initial-top: 30%;
    --final-top: 50%;
    --animation-duration: 14s;
}

.ball2 {
    --initial-left: 50%;
    --ball-size: 1.2rem;
    --initial-top: 50%;
    --final-top: 50%;
    --animation-duration: 9s;
}

.ball3 {
    --initial-left: 100%;
    --ball-size: 1.2rem;
    --initial-top: 70%;
    --final-top: 50%;
    --animation-duration: 17s;
}

.ball4{
    --initial-left: 35%;
    --ball-size: 1.2rem;
    --initial-top: 15%;
    --final-top: 50%;
    --animation-duration: 12s;
}

.ball5{
    --initial-left: 75%;
    --ball-size: 1.2rem;
    --initial-top: 55%;
    --final-top: 50%;
    --animation-duration: 11.5s;
}



@keyframes meet-and-move {
    0% {
        background-color: var(--darkBlue);
        left: 0%;
        top: var(--initial-top);
    }
    45% {
        background-color: var(--darkBlue);
        left: 50%;
        top: 50%;
    }
    55% {
        background-color: var(--orange);
        left: 50%;
        top: 50%;
    }
    100% {
        background-color: var(--orange);
        left: 90%;
        top: var(--final-top);
    }
}
