/* Tailwind CSS */
.group:hover .group-hover\:block {
    display: block;
  }
  
  .hidden {
    display: none;
  }
  
  .block {
    display: block;
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  /* .transform {
    transform: translateX(-50%);
  } */
  
  .z-50 {
    z-index: 50;
  }
  
  /* Tailwind CSS */
.overflow-visible {
    overflow: visible;
  }


/*header styles*/

.MuiTableHead-root {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.MuiTableCell-head {
  font-size: 0.7rem;
  font-weight: 500;
  color: #333;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}